.footer{
    width: 100%;
    height:auto;
    background-color: #3B3B3B;
 
    
}
.container{
    height: auto;
    .footer__about{
        display: grid;
        grid-template-rows: auto auto auto;
        row-gap: 20px;
        h1{
            font-size: 22px;
            color: white;
        }
        p{
            padding: 8px 0px;
            font-size: 16px;
            color:#CCCCCC;
        }
    }
    .footer__info{
        display: flex;
        flex-direction: column;
        .footer-Icons{
            width: 200px;
        }
        button{
            font-size: 16px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 10px 25px;
            border-radius: 20px;
            border: none;
            background-color: #A259FF;
        }
        input{
            padding: 10px 25px;
            border-radius: 20px;
            border: none;
            outline: none;
            margin: 10px 0px;
        }
    }
    hr{
        margin: 20px 0px;
    }
    p{
        color: #CCCCCC;
        padding: 10px 0px 40px 0px;
    }
}
@media (min-width:700px){
    .container{
        button{
            width: 40%;
        }
        input{
            width: 40%;
        }
    }
}
@media (min-width:992px){
    .footer{
        padding: 20px 0px;
    }
    .footer__about{
        display: grid;
        grid-template-columns: auto auto auto ;
        column-gap: 50px;
       }
}
@media (min-width:1200px){
    .footer{
        padding: 20px 0px;
    }
   .footer__about{
    display: grid;
    grid-template-columns: auto auto auto;
   }
}
