*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
body{
    background-color:  #2B2B2B;
}
a{
    color: inherit;
}
button{
    cursor: pointer;
}
.container{
    width: 85%;
    margin: auto;
    max-width: 1440px;
}
.df{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}